<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<form method="post" action="/user">
    <label>Username</label>
        <input type="text" name="username">
    <label>Email</label>
    <input type="email" name="email">
    <label>Password</label>
    <input type="password" name="password">
    <label>Retype Password</label>
    <input type="password" name="verify">
    <input type="submit" value="submit">
</form>
<p th:text="${error}"></p>
</body>
</html>